@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer utilities {
  .price-input {
    -moz-appearance: textfield;
    appearance: textfield;
  }

  .price-input::-webkit-outer-spin-button {
    appearance: none;
    margin: 0;
  }

  .price-input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }
}
