<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <!-- Add any additional meta tags, stylesheets, or scripts here -->
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" />
  </head>
  <body>
    <!-- Your content goes here -->
    <div class="flex flex-col items-center">
      {{{body}}}
    </div>
    <!-- Add your scripts at the end of the body to improve page loading performance -->
    <!-- Example: <script src="your-script.js"></script> -->
  </body>
</html>